@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
    border: #848484 solid 1px;
    padding: 5px;
}

button:hover {
    background-color: #848484;
}

